cores/submitjob.sh
cores/core_1/aerosol.prf
cores/core_1/aerosol.ref
cores/core_1/fmerror.dat
cores/core_1/hgphase1.dat
cores/core_1/kk.out
cores/core_1/nemesis.abo
cores/core_1/nemesis.apr
cores/core_1/nemesis.cia
cores/core_1/nemesis.cov
cores/core_1/nemesis.drv
cores/core_1/nemesis.fla
cores/core_1/nemesis.inp
cores/core_1/nemesis.itr
cores/core_1/nemesis.kls
cores/core_1/nemesis.mre
cores/core_1/nemesis.nam
cores/core_1/nemesis.pat
cores/core_1/nemesis.prf
cores/core_1/nemesis.raw
cores/core_1/nemesis.ref
cores/core_1/nemesis.sca
cores/core_1/nemesis.set
cores/core_1/nemesis.spx
cores/core_1/nemesis.xsc
cores/core_1/parah2.prf
cores/core_1/parah2.ref
cores/core_1/PHASE1.DAT
cores/core_1/spectrum.png
cores/core_1/tempapr.dat
cores/core_1/tmp/makephase.inp
cores/core_1/tmp/normxsc.inp
